@media (max-width: 400px) {

    .beon-container {
        // background-color: red;
        width: 370px;
        height: 890px;
        left: 0;
        top: 0px;
    }

    .beon-showcase .beon-showcase__head {
        top: 40px;
        margin: auto;
        display: flex;
   
        &:before {
            content: "";
            width: 336px;
            height: 37px;
            left: 17px;
            top: 40px;
            border-top: 1px solid $primary-color;
        }
    }

    .beon-showcase .beon-showcase__head-inner {
        // background-color: yellow;
        justify-content: center;
        // margin: auto;
    }

    .beon-showcase .beon-showcase__title {
        text-align: center;
        // margin: auto;
        flex-grow: 1;
    }

    .beon-showcase__viewmore {
        visibility:hidden;
        display: none;
    }
    
    .beon-showcase .beon-showcase__item {
        border: 1px solid $primary-color;
    }

    .beon-showcase .beon-button--primary {
        background-color: $primary-color;
    
        & .beon-button__label {
            color: #fff;
        }
    }

    .beon-showcase__items-wrapper {
        text-align: center;
        // overflow: hidden;
        display: flex;
    }

    .beon-showcase__items-wrapper .beon-slider .beon-slider__slides {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .beon-slider .beon-slider__slides {
        background-color: yellow;
        text-align: center;
        overflow: hidden;
        padding: 10px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .beon-slider__slide {
        background-color: blue;
        align-self: center;
        flex-grow: 1;
        margin: 0 20px;
        text-align: center;
        // overflow: hidden;
    }


    .beon-showcase .beon-slider__frame .tns-controls [data-controls] {
        top: 300px;
    }
}