@media (max-width: 400px) {

    .beon-container {
        width: 370px;
        height: 890px;
        left: 2px;
        top: 0px;
    }

    .beon-showcase .beon-showcase__head {
        top: 40px;
        margin: auto;
        display: flex;
   
        &:before {
            content: "";
            width: 336px;
            height: 37px;
            left: 17px;
            top: 40px;
            border-top: 1px solid $primary-color;
        }
    }

    .beon-showcase .beon-showcase__head-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 15px;
    }

    .beon-showcase__viewmore {
        visibility:hidden;
    }
    
    .beon-showcase .beon-showcase__item {
        border: 1px solid $primary-color;
    }

    .beon-showcase .beon-button--primary {
        background-color: $primary-color;
    
        & .beon-button__label {
            color: #fff;
        }
    }

    .beon-showcase__items-wrapper {
        text-align: center;
        display: flex;
    }

    .beon-slider .beon-slider__frame {
        padding: 20px;
    }

    .beon-showcase__items-wrapper .beon-slider .beon-slider__slides {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        // align-content: center;
        // align-items: center;
        text-align: center;
    }

    .beon-slider .beon-slider__slides {
        text-align: center;
    }

    .beon-slider__slide {
        background-color: yellow;
        width: 100%;
        position: relative;
        box-sizing: border-box;
    }


    .beon-showcase .beon-slider__frame .tns-controls [data-controls] {
        background-color: red;
        top: 300px;
    }

    #tns1 .tns-item {
        padding-right: 20px !important;
        padding-left: 26px;
        width: 100% !important;
        box-sizing: border-box;
    }


}