body, html {
  font-family: Montserrat;
}

.beon-region {
  margin-bottom: 3em;
}

h1.divisor {
  display: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-top: 60px;
  font-family: Montserrat;
}

.beon-container {
  position: absolute;
  width: 1148px;
  height: 1373px;
  left: 360px;
  top: 0px;
}

.beon-showcase {
  width: 100%;
  height: 100%;
  margin: auto;
}

.beon-showcase__item-references {
  display: none;
}

.beon-showcase .beon-showcase__head {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  margin: auto;
  width: 100%;
  height: 37px;
  top: 51px;
}
.beon-showcase .beon-showcase__head:before {
  content: "";
  width: 100%;
  margin: auto;
  top: 40px;
  border-top: 1px solid #5B2C86;
}

.beon-showcase .beon-showcase__head-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.beon-showcase .beon-showcase__title {
  color: #5B2C86;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.beon-showcase .beon-showcase__viewmore {
  color: #5B2C86;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: right;
}

.beon-showcase .beon-showcase__item {
  background-color: white;
  width: 260px;
  height: 520px;
  border: 1px solid #DFDFDF;
  border-radius: 6px;
}

.beon-showcase .beon-showcase__item-badge--off {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background-color: #5B2C86;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  width: 55px;
  height: 55px;
  left: 195px;
  top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.beon-showcase .beon-showcase__item-badge--off .beon-showcase__item-discount {
  font-weight: 700;
}
.beon-showcase .beon-showcase__item-badge--off .null {
  font-weight: 400;
}

.beon-showcase .beon-showcase__item-badge--off-value {
  display: none;
}

.beon-showcase .beon-showcase__item-image {
  width: 218px;
  height: 309px;
  margin: 20px;
}

.beon-showcase .beon-showcase__item-title {
  position: absolute;
  width: 219px;
  top: 347px;
  margin: 0 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #313131;
}

.beon-showcase .beon-showcase__item-price-box {
  position: absolute;
  top: 389px;
  left: 20px;
}

.beon-showcase__item-price--from span {
  color: #CCCCCC;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration: line-through;
  text-decoration-color: #CCCCCC;
}

.beon-showcase__item-price--to .prefix {
  display: none;
}

.beon-showcase .beon-showcase__item-price--to .beon-showcase__price, .beon-showcase .beon-showcase__item-price-box--simple .beon-showcase__price {
  color: #5B2C86;
  margin-top: 5px;
  margin-bottom: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 16px;
}

.beon-showcase .beon-showcase__item-avista {
  display: none;
}

.beon-showcase .beon-showcase__item-installments {
  color: #313131;
}
.beon-showcase .beon-showcase__item-installments strong {
  font-weight: 200;
}
.beon-showcase .beon-showcase__item-installments .beon-interaction__installmentPrice {
  color: #5B2C86;
}

.beon-showcase .beon-button--primary {
  background-color: #DFDFDF;
  position: absolute;
  width: 100%;
  height: 46px;
  top: 474px;
  border-radius: 0 0 6px 6px;
}
.beon-showcase .beon-button--primary .beon-button__label {
  color: #5B2C86;
}

.beon-showcase .beon-showcase__item:hover {
  border-color: #5B2C86;
  cursor: pointer;
}
.beon-showcase .beon-showcase__item:hover .beon-button--primary {
  background-color: #5B2C86;
}
.beon-showcase .beon-showcase__item:hover .beon-button--primary .beon-button__label {
  color: #fff;
}

.beon-slider {
  position: relative;
  width: 100%;
  clear: both;
  padding: 0;
}

.beon-slider .tns-nav button[data-nav] {
  display: block;
  width: 15px;
  height: 15px;
  margin: 2.5px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  text-indent: -9999px;
  cursor: pointer;
  outline: 0;
  background-color: #C4C4C4;
  box-shadow: inset 0 0 0 0 transparent;
}

.beon-slider .tns-nav button[data-nav].tns-nav-active {
  background-color: #5B2C86;
  box-shadow: inset 0 0 0 0 transparent;
  width: 18px;
  height: 18px;
}

.beon-slider .beon-slider__frame {
  top: 56px;
  min-width: 100%;
  width: 100%;
  position: relative;
}

.beon-slider .beon-slider__slides .beon-slider__slide {
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 0px;
  box-sizing: border-box;
}

.beon-slider .tns-controls [data-controls=prev] {
  background-image: url(../img/arrow-left-svgrepo-com\ 1.svg);
  width: 58px;
  left: -39px;
}

.beon-slider .tns-controls [data-controls=next] {
  background-image: url(../img/arrow-right-svgrepo-com\ \(1\)\ 1.svg);
  width: 58px;
  right: -39px;
}

@media (max-width: 400px) {
  .beon-container {
    width: 370px;
    height: 890px;
    left: 0;
    top: 0px;
  }
  .beon-showcase .beon-showcase__head {
    top: 40px;
    margin: auto;
    display: flex;
  }
  .beon-showcase .beon-showcase__head:before {
    content: "";
    width: 336px;
    height: 37px;
    left: 17px;
    top: 40px;
    border-top: 1px solid #5B2C86;
  }
  .beon-showcase .beon-showcase__head-inner {
    justify-content: center;
  }
  .beon-showcase .beon-showcase__title {
    text-align: center;
    flex-grow: 1;
  }
  .beon-showcase__viewmore {
    visibility: hidden;
    display: none;
  }
  .beon-showcase .beon-showcase__item {
    border: 1px solid #5B2C86;
  }
  .beon-showcase .beon-button--primary {
    background-color: #5B2C86;
  }
  .beon-showcase .beon-button--primary .beon-button__label {
    color: #fff;
  }
  .beon-showcase__items-wrapper {
    text-align: center;
    display: flex;
  }
  .beon-showcase__items-wrapper .beon-slider .beon-slider__slides {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
  .beon-slider .beon-slider__slides {
    background-color: yellow;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .beon-slider__slide {
    background-color: blue;
    align-self: center;
    flex-grow: 1;
    margin: 0 20px;
    text-align: center;
  }
  .beon-showcase .beon-slider__frame .tns-controls [data-controls] {
    top: 300px;
  }
}/*# sourceMappingURL=main.css.map */